@model RapidBootcamp.WebApplication.Models.Customer

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ini Detail Customer Page</title>
</head>
<body>
    <h1>Detail Customer</h1>
    <br />
    <h2>Customer ID: @Model.CustomerId</h2>
    <h2>Customer Name: @Model.CustomerName</h2>
    <h2>Customer Address: @Model.CustomerAddress</h2>
    <h2>Customer City: @Model.CustomerCity</h2>
    <h2>Customer Email: @Model.CustomerEmail</h2>
    <h2>Customer Phone: @Model.CustomerPhoneNumber</h2>
</body>
</html>